In [1]:
# !pip install pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({
    "First": np.random.randint(10, size=30), 
    "Second": np.random.randint(10, 20, size=30), 
    "Third": np.random.randint(20, 30, size=30)
})

print(df)

    First  Second  Third
0       6      15     20
1       4      17     24
2       1      19     20
3       8      15     28
4       8      19     21
5       2      12     26
6       3      17     29
7       3      11     20
8       6      12     28
9       3      17     20
10      3      19     29
11      2      15     24
12      0      17     28
13      5      16     21
14      1      18     27
15      6      14     28
16      6      18     21
17      8      12     22
18      8      18     28
19      6      12     27
20      9      17     28
21      3      12     22
22      8      18     28
23      9      14     26
24      1      11     20
25      2      17     22
26      6      19     20
27      8      16     22
28      2      15     24
29      2      12     28

In [4]:
df.describe()

           First     Second      Third
count  30.000000  30.000000  30.000000
mean    4.633333  15.466667  24.366667
std     2.797577   2.674701   3.418846
min     0.000000  11.000000  20.000000
25%     2.000000  12.500000  21.000000
50%     4.500000  16.000000  24.000000
75%     7.500000  17.750000  28.000000
max     9.000000  19.000000  29.000000

In [5]:
df['First'].loc[((df['First'] % 2) != 0)] = df['First'].median()
print(df)

    First  Second  Third
0     6.0      15     20
1     4.0      17     24
2     4.5      19     20
3     8.0      15     28
4     8.0      19     21
5     2.0      12     26
6     4.5      17     29
7     4.5      11     20
8     6.0      12     28
9     4.5      17     20
10    4.5      19     29
11    2.0      15     24
12    0.0      17     28
13    4.5      16     21
14    4.5      18     27
15    6.0      14     28
16    6.0      18     21
17    8.0      12     22
18    8.0      18     28
19    6.0      12     27
20    4.5      17     28
21    4.5      12     22
22    8.0      18     28
23    4.5      14     26
24    4.5      11     20
25    2.0      17     22
26    6.0      19     20
27    8.0      16     22
28    2.0      15     24
29    2.0      12     28

In [6]:
df['Second'].loc[(df['Second'] % 2 == 0)] = df['Second'].mean()
print(df)

    First     Second  Third
0     6.0  15.000000     20
1     4.0  17.000000     24
2     4.5  19.000000     20
3     8.0  15.000000     28
4     8.0  19.000000     21
5     2.0  15.466667     26
6     4.5  17.000000     29
7     4.5  11.000000     20
8     6.0  15.466667     28
9     4.5  17.000000     20
10    4.5  19.000000     29
11    2.0  15.000000     24
12    0.0  17.000000     28
13    4.5  15.466667     21
14    4.5  15.466667     27
15    6.0  15.466667     28
16    6.0  15.466667     21
17    8.0  15.466667     22
18    8.0  15.466667     28
19    6.0  15.466667     27
20    4.5  17.000000     28
21    4.5  15.466667     22
22    8.0  15.466667     28
23    4.5  15.466667     26
24    4.5  11.000000     20
25    2.0  17.000000     22
26    6.0  19.000000     20
27    8.0  15.466667     22
28    2.0  15.000000     24
29    2.0  15.466667     28

F:\Curs_Step\Python\Project\AI\Homework\venv\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)