In [1]:
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import pandas as pd
import numpy as np
np.random.seed(42)

In [2]:
df = pd.read_csv("Datasets/imports-85.data.csv")
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Unnamed: 26
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,NaN
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,NaN
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,NaN
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,NaN
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845,NaN
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045,NaN
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485,NaN
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,idi,3.01,3.40,23.0,106,4800,26,27,22470,NaN
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling           205 non-null    int64
 1   normalized-losses   205 non-null    object
 2   make                205 non-null    object
 3   fuel-type           205 non-null    object
 4   aspiration          205 non-null    object
 5   num-of-doors        205 non-null    object
 6   body-style          205 non-null    object
 7   drive-wheels        205 non-null    object
 8   engine-location     205 non-null    object
 9    wheel-base         205 non-null    float64
 10   length             205 non-null    float64
 11   width              205 non-null    float64
 12   height             205 non-null    float64
 13   curb-weight        205 non-null    int64
 14   engine-type        205 non-null    object
 15   num-of-cylinders   205 non-null    object
 16   engine-size        205 non-null    int64
 17   fuel-system        205 non-null    object
 18   bore               205 non-null    object
 19   stroke             205 non-null    object
 20   compression-ratio  205 non-null    float64
 21   horsepower         205 non-null    object
 22   peak-rpm           205 non-null    object
 23   city-mpg           205 non-null    int64
 24   highway-mpg        205 non-null    int64
 25    price             205 non-null    object
 26  Unnamed: 26         0 non-null      float64
dtypes: float64(6), int64(5), object(16)
memory usage: 43.4+ KB

In [4]:
# Удаление категориальных признаков

df_num = df.drop(['make', 'fuel-type', 'aspiration',
                'num-of-doors', 'body-style',
                'drive-wheels', 'engine-location',
                ' engine-type', ' num-of-cylinders',
                ' fuel-system', ' bore', ' stroke', 'Unnamed: 26'], axis=1)

# Подстановка наиболее частых значений в отсутствующие места с помощью класса SimpleImputer (медианные не работают)

imp = SimpleImputer(missing_values='?', strategy="most_frequent")
X = imp.fit_transform(df_num)
df_num = pd.DataFrame(X, columns=df_num.columns)
df_num

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,161,88.6,168.8,64.1,48.8,2548,130,9.0,111,5000,21,27,13495
1,3,161,88.6,168.8,64.1,48.8,2548,130,9.0,111,5000,21,27,16500
2,1,161,94.5,171.2,65.5,52.4,2823,152,9.0,154,5000,19,26,16500
3,2,164,99.8,176.6,66.2,54.3,2337,109,10.0,102,5500,24,30,13950
4,2,164,99.4,176.6,66.4,54.3,2824,136,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,109.1,188.8,68.9,55.5,2952,141,9.5,114,5400,23,28,16845
201,-1,95,109.1,188.8,68.8,55.5,3049,141,8.7,160,5300,19,25,19045
202,-1,95,109.1,188.8,68.9,55.5,3012,173,8.8,134,5500,18,23,21485
203,-1,95,109.1,188.8,68.9,55.5,3217,145,23.0,106,4800,26,27,22470
204,-1,95,109.1,188.8,68.9,55.5,3062,141,9.5,114,5400,19,25,22625

In [5]:
# Удаление численных признаков

df_cat = df.drop(['symboling', 'normalized-losses', ' wheel-base', ' length', 
                    ' width', ' height', ' curb-weight', ' engine-size', ' compression-ratio', 
                    ' horsepower', ' peak-rpm', ' city-mpg', ' highway-mpg', 'Unnamed: 26'], axis=1)

# Подстановка наиболее частых значений в отсутствующие места с помощью класса SimpleImputer

imp = SimpleImputer(missing_values="?", strategy="most_frequent")
imp.fit(df_cat)
X = imp.transform(df_cat)
df_cat = pd.DataFrame(X, columns=df_cat.columns)
df_cat

,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system,bore,stroke,price
0,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,3.47,2.68,13495
1,alfa-romero,gas,std,two,convertible,rwd,front,dohc,four,mpfi,3.47,2.68,16500
2,alfa-romero,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,2.68,3.47,16500
3,audi,gas,std,four,sedan,fwd,front,ohc,four,mpfi,3.19,3.40,13950
4,audi,gas,std,four,sedan,4wd,front,ohc,five,mpfi,3.19,3.40,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,volvo,gas,std,four,sedan,rwd,front,ohc,four,mpfi,3.78,3.15,16845
201,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,3.78,3.15,19045
202,volvo,gas,std,four,sedan,rwd,front,ohcv,six,mpfi,3.58,2.87,21485
203,volvo,diesel,turbo,four,sedan,rwd,front,ohc,six,idi,3.01,3.40,22470
204,volvo,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,3.78,3.15,22625

In [6]:
# Запись этих данных в файл

df = pd.concat([df_num, df_cat], axis=1)

df.to_csv('Datasets/cars_imputed.csv.csv')
df

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,horsepower,...,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system,bore,stroke,price
0,3,161,88.6,168.8,64.1,48.8,2548,130,9.0,111,...,two,convertible,rwd,front,dohc,four,mpfi,3.47,2.68,13495
1,3,161,88.6,168.8,64.1,48.8,2548,130,9.0,111,...,two,convertible,rwd,front,dohc,four,mpfi,3.47,2.68,16500
2,1,161,94.5,171.2,65.5,52.4,2823,152,9.0,154,...,two,hatchback,rwd,front,ohcv,six,mpfi,2.68,3.47,16500
3,2,164,99.8,176.6,66.2,54.3,2337,109,10.0,102,...,four,sedan,fwd,front,ohc,four,mpfi,3.19,3.40,13950
4,2,164,99.4,176.6,66.4,54.3,2824,136,8.0,115,...,four,sedan,4wd,front,ohc,five,mpfi,3.19,3.40,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,109.1,188.8,68.9,55.5,2952,141,9.5,114,...,four,sedan,rwd,front,ohc,four,mpfi,3.78,3.15,16845
201,-1,95,109.1,188.8,68.8,55.5,3049,141,8.7,160,...,four,sedan,rwd,front,ohc,four,mpfi,3.78,3.15,19045
202,-1,95,109.1,188.8,68.9,55.5,3012,173,8.8,134,...,four,sedan,rwd,front,ohcv,six,mpfi,3.58,2.87,21485
203,-1,95,109.1,188.8,68.9,55.5,3217,145,23.0,106,...,four,sedan,rwd,front,ohc,six,idi,3.01,3.40,22470
204,-1,95,109.1,188.8,68.9,55.5,3062,141,9.5,114,...,four,sedan,rwd,front,ohc,four,mpfi,3.78,3.15,22625

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling           205 non-null    object
 1   normalized-losses   205 non-null    object
 2    wheel-base         205 non-null    object
 3    length             205 non-null    object
 4    width              205 non-null    object
 5    height             205 non-null    object
 6    curb-weight        205 non-null    object
 7    engine-size        205 non-null    object
 8    compression-ratio  205 non-null    object
 9    horsepower         205 non-null    object
 10   peak-rpm           205 non-null    object
 11   city-mpg           205 non-null    object
 12   highway-mpg        205 non-null    object
 13    price             205 non-null    object
 14  make                205 non-null    object
 15  fuel-type           205 non-null    object
 16  aspiration          205 non-null    object
 17  num-of-doors        205 non-null    object
 18  body-style          205 non-null    object
 19  drive-wheels        205 non-null    object
 20  engine-location     205 non-null    object
 21   engine-type        205 non-null    object
 22   num-of-cylinders   205 non-null    object
 23   fuel-system        205 non-null    object
 24   bore               205 non-null    object
 25   stroke             205 non-null    object
 26    price             205 non-null    object
dtypes: object(27)
memory usage: 43.4+ KB

In [8]:
df_cat = df['make']
df_cat_encoded, df_categories = df_cat.factorize()
df['make'] = df_cat_encoded

In [9]:
df_cat = df['fuel-type']
df_cat_encoded, df_categories = df_cat.factorize()
df['fuel-type'] = df_cat_encoded

In [10]:
df_cat = df['aspiration']
df_cat_encoded, df_categories = df_cat.factorize()
df['aspiration'] = df_cat_encoded

In [11]:
df_cat = df['num-of-doors']
df_cat_encoded, df_categories = df_cat.factorize()
df['num-of-doors'] = df_cat_encoded

In [12]:
df_cat = df['body-style']
df_cat_encoded, df_categories = df_cat.factorize()
df['body-style'] = df_cat_encoded

In [13]:
df_cat = df['drive-wheels']
df_cat_encoded, df_categories = df_cat.factorize()
df['drive-wheels'] = df_cat_encoded

In [14]:
df_cat = df['engine-location']
df_cat_encoded, df_categories = df_cat.factorize()
df['engine-location'] = df_cat_encoded

In [15]:
df_cat = df[' engine-type']
df_cat_encoded, df_categories = df_cat.factorize()
df[' engine-type'] = df_cat_encoded

In [16]:
df_cat = df[' num-of-cylinders']
df_cat_encoded, df_categories = df_cat.factorize()
df[' num-of-cylinders'] = df_cat_encoded

In [17]:
df_cat = df[' fuel-system']
df_cat_encoded, df_categories = df_cat.factorize()
df[' fuel-system'] = df_cat_encoded

In [18]:
df

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,horsepower,...,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system,bore,stroke,price
0,3,161,88.6,168.8,64.1,48.8,2548,130,9.0,111,...,0,0,0,0,0,0,0,3.47,2.68,13495
1,3,161,88.6,168.8,64.1,48.8,2548,130,9.0,111,...,0,0,0,0,0,0,0,3.47,2.68,16500
2,1,161,94.5,171.2,65.5,52.4,2823,152,9.0,154,...,0,1,0,0,1,1,0,2.68,3.47,16500
3,2,164,99.8,176.6,66.2,54.3,2337,109,10.0,102,...,1,2,1,0,2,0,0,3.19,3.40,13950
4,2,164,99.4,176.6,66.4,54.3,2824,136,8.0,115,...,1,2,2,0,2,2,0,3.19,3.40,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,109.1,188.8,68.9,55.5,2952,141,9.5,114,...,1,2,0,0,2,0,0,3.78,3.15,16845
201,-1,95,109.1,188.8,68.8,55.5,3049,141,8.7,160,...,1,2,0,0,2,0,0,3.78,3.15,19045
202,-1,95,109.1,188.8,68.9,55.5,3012,173,8.8,134,...,1,2,0,0,1,1,0,3.58,2.87,21485
203,-1,95,109.1,188.8,68.9,55.5,3217,145,23.0,106,...,1,2,0,0,2,1,6,3.01,3.40,22470
204,-1,95,109.1,188.8,68.9,55.5,3062,141,9.5,114,...,1,2,0,0,2,0,0,3.78,3.15,22625

In [19]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(df, test_size=0.35, random_state=42)
train_set.head(5)

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,horsepower,...,num-of-doors,body-style,drive-wheels,engine-location,engine-type,num-of-cylinders,fuel-system,bore,stroke,price
140,2,83,93.3,157.3,63.8,55.7,2240,108,8.7,73,...,0,1,2,0,5,0,1,3.62,2.64,7603
51,1,104,93.1,159.1,64.2,54.1,1900,91,9.0,68,...,0,1,1,0,2,0,1,3.03,3.15,6095
113,0,161,114.2,198.9,68.4,56.7,3285,120,8.4,95,...,1,3,0,0,3,0,0,3.46,2.19,16695
166,1,168,94.5,168.7,64.0,52.6,2300,98,9.4,112,...,0,1,0,0,0,0,0,3.24,3.08,9538
41,0,85,96.5,175.4,65.2,54.1,2465,110,9.0,101,...,1,2,1,0,2,0,0,3.15,3.58,12945

In [20]:
Xs = ['normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels',
      'engine-location', ' wheel-base', ' length', ' width', ' height', ' curb-weight', ' engine-type',
      ' num-of-cylinders', ' engine-size', ' fuel-system', ' bore', ' stroke', ' compression-ratio',
      ' horsepower', ' peak-rpm', ' city-mpg', ' highway-mpg', '  price']
Ys = ['symboling']

In [21]:
train_Xs = train_set[Xs]
train_Ys = train_set[Ys]

test_Xs = test_set[Xs]
test_Ys = test_set[Ys]

In [22]:
def MAE(Ys_real, Ys_predict):
    Losses = np.abs(Ys_real - Ys_predict)
    m = len(Ys_real)
    cost_result = 1 / m * np.sum(Losses)
    return cost_result

In [23]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(train_Xs, train_Ys)
predictions = model.predict(train_Xs)
print("MAE train:", MAE(train_Ys, predictions))

MAE train: symboling    0.555746
dtype: object

In [24]:
predictions = model.predict(test_Xs)
print("MAE test:", MAE(test_Ys, predictions))

MAE test: symboling    0.626004
dtype: object

In [25]:
# Используя подход факторизации категориальных признаков мы увеличили точность модели (уменьшив показатели MAE train и MAE test).