In [1]:
#Задания 1-2

In [2]:
#!pip install scikit-learn

In [3]:
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
np.random.seed(42)

In [4]:
df = pd.read_csv("imports-85.data.csv")

In [5]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Unnamed: 26
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,NaN
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,NaN
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,NaN
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,NaN
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845,NaN
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045,NaN
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485,NaN
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,idi,3.01,3.40,23.0,106,4800,26,27,22470,NaN
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 148 entries, 3 to 204
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling           148 non-null    int64
 1   normalized-losses   148 non-null    object
 2   make                148 non-null    object
 3   fuel-type           148 non-null    object
 4   aspiration          148 non-null    object
 5   num-of-doors        148 non-null    object
 6   body-style          148 non-null    object
 7   drive-wheels        148 non-null    object
 8   engine-location     148 non-null    object
 9    wheel-base         148 non-null    float64
 10   length             148 non-null    float64
 11   width              148 non-null    float64
 12   height             148 non-null    float64
 13   curb-weight        148 non-null    int64
 14   engine-type        148 non-null    object
 15   num-of-cylinders   148 non-null    object
 16   engine-size        148 non-null    int64
 17   fuel-system        148 non-null    object
 18   bore               148 non-null    object
 19   stroke             148 non-null    object
 20   compression-ratio  148 non-null    float64
 21   horsepower         148 non-null    object
 22   peak-rpm           148 non-null    object
 23   city-mpg           148 non-null    int64
 24   highway-mpg        148 non-null    int64
 25    price             148 non-null    object
 26  Unnamed: 26         0 non-null      float64
dtypes: float64(6), int64(5), object(16)
memory usage: 36.4+ KB

In [11]:
df = df.drop(np.where(df['normalized-losses'] == "?")[0])
df = df.drop(np.where(df[' bore'] == "?")[0])
df = df.drop(np.where(df[' stroke'] == "?")[0])
df = df.drop(np.where(df['num-of-doors'] == "?")[0])

In [12]:
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Unnamed: 26
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,NaN
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,NaN
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,mpfi,3.19,3.40,8.5,110,5500,19,25,17710,NaN
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,mpfi,3.13,3.40,8.3,140,5500,17,20,23875,NaN
10,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,mpfi,3.50,2.80,8.8,101,5800,23,29,16430,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845,NaN
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045,NaN
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485,NaN
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,idi,3.01,3.40,23.0,106,4800,26,27,22470,NaN
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625,NaN

In [13]:
df = df.drop(['make', 'fuel-type', 'aspiration',
                'num-of-doors', 'body-style',
                'drive-wheels', 'engine-location',
                ' engine-type', ' num-of-cylinders',
                ' fuel-system', ' bore', ' stroke'], axis='columns')

In [14]:
df

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,Unnamed: 26
3,2,164,99.8,176.6,66.2,54.3,2337,109,10.0,102,5500,24,30,13950,NaN
4,2,164,99.4,176.6,66.4,54.3,2824,136,8.0,115,5500,18,22,17450,NaN
6,1,158,105.8,192.7,71.4,55.7,2844,136,8.5,110,5500,19,25,17710,NaN
8,1,158,105.8,192.7,71.4,55.9,3086,131,8.3,140,5500,17,20,23875,NaN
10,2,192,101.2,176.8,64.8,54.3,2395,108,8.8,101,5800,23,29,16430,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,109.1,188.8,68.9,55.5,2952,141,9.5,114,5400,23,28,16845,NaN
201,-1,95,109.1,188.8,68.8,55.5,3049,141,8.7,160,5300,19,25,19045,NaN
202,-1,95,109.1,188.8,68.9,55.5,3012,173,8.8,134,5500,18,23,21485,NaN
203,-1,95,109.1,188.8,68.9,55.5,3217,145,23.0,106,4800,26,27,22470,NaN
204,-1,95,109.1,188.8,68.9,55.5,3062,141,9.5,114,5400,19,25,22625,NaN

In [15]:
df.to_csv('cars_nums.csv')

In [16]:
df = pd.read_csv("cars_nums.csv")

In [17]:
df = df.drop(['Unnamed: 0', 'Unnamed: 26'], axis=1)

In [18]:
df

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,2,164,99.8,176.6,66.2,54.3,2337,109,10.0,102,5500,24,30,13950
1,2,164,99.4,176.6,66.4,54.3,2824,136,8.0,115,5500,18,22,17450
2,1,158,105.8,192.7,71.4,55.7,2844,136,8.5,110,5500,19,25,17710
3,1,158,105.8,192.7,71.4,55.9,3086,131,8.3,140,5500,17,20,23875
4,2,192,101.2,176.8,64.8,54.3,2395,108,8.8,101,5800,23,29,16430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135,-1,95,109.1,188.8,68.9,55.5,2952,141,9.5,114,5400,23,28,16845
136,-1,95,109.1,188.8,68.8,55.5,3049,141,8.7,160,5300,19,25,19045
137,-1,95,109.1,188.8,68.9,55.5,3012,173,8.8,134,5500,18,23,21485
138,-1,95,109.1,188.8,68.9,55.5,3217,145,23.0,106,4800,26,27,22470
139,-1,95,109.1,188.8,68.9,55.5,3062,141,9.5,114,5400,19,25,22625

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140 entries, 0 to 139
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling           140 non-null    int64
 1   normalized-losses   140 non-null    int64
 2    wheel-base         140 non-null    float64
 3    length             140 non-null    float64
 4    width              140 non-null    float64
 5    height             140 non-null    float64
 6    curb-weight        140 non-null    int64
 7    engine-size        140 non-null    int64
 8    compression-ratio  140 non-null    float64
 9    horsepower         140 non-null    int64
 10   peak-rpm           140 non-null    int64
 11   city-mpg           140 non-null    int64
 12   highway-mpg        140 non-null    int64
 13    price             140 non-null    int64
dtypes: float64(5), int64(9)
memory usage: 15.4 KB

In [20]:
train_set, test_set = train_test_split(df, test_size=0.35, random_state=42)
train_set.head(5)

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
15,3,150,95.3,169.0,65.7,49.6,2380,70,9.4,101,6000,17,23,10945
89,0,85,96.9,173.6,65.4,54.9,2650,108,7.7,111,4800,23,23,11694
39,-1,137,96.3,172.4,65.4,51.6,2403,110,7.5,116,5500,23,30,9279
22,0,115,98.8,177.8,66.5,55.5,2410,122,8.6,84,4800,26,32,10245
105,1,168,94.5,168.7,64.0,52.6,2265,98,9.4,112,6600,26,29,9298

In [21]:
df.columns

Index(['symboling', 'normalized-losses', ' wheel-base', ' length', ' width',
       ' height', ' curb-weight', ' engine-size', ' compression-ratio',
       ' horsepower', ' peak-rpm', ' city-mpg', ' highway-mpg', '  price'],
      dtype='object')

In [22]:
Xs = ['normalized-losses', ' wheel-base', ' length', ' width', ' height',
       ' curb-weight', ' engine-size', ' compression-ratio', ' horsepower',
       ' peak-rpm', ' city-mpg', ' highway-mpg', '  price']
Ys = ['symboling']

In [23]:
train_Xs = train_set[Xs]
train_Ys = train_set[Ys]

test_Xs = test_set[Xs]
test_Ys = test_set[Ys]

In [24]:
def MAE(Ys_real, Ys_predict):
    Losses = np.abs(Ys_real - Ys_predict)
    m = len(Ys_real)
    cost_result = 1 / m * np.sum(Losses)
    return cost_result

In [27]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(train_Xs, train_Ys)
predictions = model.predict(train_Xs)
print("MAE train:", MAE(train_Ys, predictions))

MAE train: symboling    0.632723
dtype: float64

In [28]:
predictions = model.predict(test_Xs)
print("MAE test:", MAE(test_Ys, predictions))

MAE test: symboling    0.676724
dtype: float64